<h2 class="flow-text">Perfis</h2>

<ul class="profiles">
  <li *ngFor="let p of profiles" (click)="getProfile(p.pk)">
    <span class="badge">
      {{p.pk}}
    </span>{{p.email}}
    <button (click)="deleteProfile(p.pk)">Deletar</button>
  </li>
</ul>
<div *ngIf="profile">
  <h3>
    Informações do perfil    
  </h3>
  <ul class="profiles">
    <li> <span class="badge">
      Nome: 
    </span> {{profile.name}}
  </li>
    <li>
      <span class="badge">
        Email:
      </span> {{profile.email}}</li>
    <li>
      <span class="badge">
        Endereço: </span>
      {{profile.address.city}}</li>
    <li> 
      <span class="badge">
        Dono do perfil:
    </span> {{profile.owner}} </li>
  </ul>
</div>

<button routerLinkActive="active"><a routerLink='/perfil-add'>Criar novo perfil</a></button>


