<section>
    <div class="container">
      <form method="post" #frm="ngForm" (ngSubmit)="postProfile(frm)">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome"
            class="form-control" placeholder="Nome  *"
            [(ngModel)]="new_profile.name" required/>
        </div>
  
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email"
            class="form-control" placeholder="E-mail  *"
            [(ngModel)]="new_profile.email" required email/>
        </div>
  
        <div class="form-group">
          <label for="street">Rua</label>
          <input type="text" id="street" name="street"
            class="form-control" placeholder="rua *"
            [(ngModel)]="new_profile.address.street" required/>
        </div>
  
        <div class="form-group">
          <label for="cep">Cep</label>
          <input type="text" id="cep" name="cep"
            class="form-control" placeholder="CEP *"
            [(ngModel)]="new_profile.address.zipcode" required/>
        </div>
  
        <div class="form-group">
          <label for="city">Cidade</label>
          <input type="text" id="city" name="city"
            class="form-control" placeholder="Cidade *"
            [(ngModel)]="new_profile.address.city" required/>
        </div>
  
        <div class="form-group">
          <label for="suite">Apartamento</label>
          <input type="text" id="suite" name="suite"
            class="form-control" placeholder="Apartamento  *"
            [(ngModel)]="new_profile.address.suite" required/>
        </div>
  
        <button type="submit"
          [disabled]="frm.invalid">Adicionar Perfil</button>
      </form>
    </div>
  </section>
